<%# keep this code in a partial file, even if you intend on adapting it's use to other places %>
<%# TIP: review this file when upgrading this gem, the recommended code might have changed %>


<%# send email confirmation %>
<% if hello_credential && hello_credential.show_alert_for_email_confirmation_suggestion? %>
  <div class="alert alert-info">
    <%= hello_send_confirmation_email_entity.info_1_message %>
    <%= link_to hello_send_confirmation_email_entity.info_2_message, hello.confirm_email_send_path %>
  </div>
<% end %>

<%# click email confirmation on your email %>
<% if hello_credential && hello_credential.show_alert_for_email_confirmation_pending? %>
  <div class="alert alert-info">
    <%= hello_confirm_email_entity.info_message %>
  </div>
<% end %>


<% if notice %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>

<% if alert %>
  <div class="alert alert-warning"><%= alert %></div>
<% end %>
