<ul class="nav nav-pills pull-right">
  <li><%= link_to human_current_locale, hello.locale_path %></li>
  <li><%= link_to "User List", users_path %></li>

  <% if current_accesses.any? %>
    <li><%= link_to "Switch Accounts", hello.switch_users_path %></li>
  <% end %>
  
  <% if signed_in? %>
    <% if current_user.webmaster? %>
      <li><%= link_to "Web Master Dashboard", hello.webmaster_path %></li>
    <% end %>
    <li><%= link_to "My Profile", current_user %></li>
    <li><%= link_to "Settings", hello.current_user_path %></li>
    <li><%= link_to "Sign Out", hello.sign_out_path %></li>
    <% if impersonated? %>
      <li><%= link_to "Back to Myself", hello.impersonate_back_webmaster_users_path %></li>
    <% end %>
  <% else %>
    <li><%= link_to "Sign Up", hello.sign_up_path %></li>
    <li><%= link_to "Sign In", hello.sign_in_path %></li>
    <li><%= link_to "Forgot Password", hello.password_forgot_path %></li>
  <% end %>
</ul>