<ul class="nav nav-pills pull-right">
  <li><%= link_to human_current_locale, hello.locale_path %></li>
  <li><%= link_to "User List", users_path %></li>

  <% if signed_in? %>
    <li><%= link_to "My Profile", current_user %></li>
    <li><%= link_to "Settings", hello.current_user_path %></li>
    <li><%= link_to "Switch Accounts", hello.sessions_path %></li>
    <li><%= link_to "Sign Out", hello.sign_out_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Sign Up", hello.sign_up_path %></li>
    <li><%= link_to "Sign In", hello.sign_in_path %></li>
    <li><%= link_to "Forgot Password", hello.forgot_passwords_path %></li>
  <% end %>
</ul>
