<% if not signed_in? %>

<h2 class="page-header">Settings (not signed in)</h2>

<% else %>

<h2 class="page-header">Settings</h2>

<div class="col-sm-3 col-md-2">
<div class="list-group">
  <%= nav_link_to "Profile",
                  hello.current_user_path,
                  {class: "list-group-item"},
                  {selected_class: "active"}
                  %>
  <%= nav_link_to "Password",
                  hello.passwords_path,
                  {class: "list-group-item"},
                  {selected_class: "active"}
                  %>
  <%= nav_link_to "Emails (#{current_user.email_credentials.count})",
                  hello.emails_path,
                  {class: "list-group-item"},
                  {selected_class: "active"}
                  %>
  <%= nav_link_to "Devices (#{current_user.accesses_count})",
                  hello.accesses_path,
                  {class: "list-group-item"},
                  {selected_class: "active"}
                  %>
  <%= nav_link_to "Cancel Account",
                  hello.cancel_account_path,
                  {class: "list-group-item"},
                  {selected_class: "active"}
                  %>
</div>
</div>

<% end %>
