<!DOCTYPE html>
<html>
<head>
  <title>Hello</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- hello begin -->


  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li><%= link_to human_current_locale, hello.locale_path %></li>
        <% if current_user %>
          <li><%= link_to "My Profile", profile_path(hello_credential.username) %></li>
          <li><%= link_to "Settings", hello.user_path %></li>
          <li><%= link_to "Sign Out", hello.sign_out_path %></li>
          <% if impersonated? %>
            <li><%= link_to "Back to Myself", hello.admin_impersonate_path %></li>
          <% end %>
        <% else %>
          <li><%= link_to "Sign Up", hello.sign_up_path %></li>
          <li><%= link_to "Sign In", hello.sign_in_path %></li>
          <li><%= link_to "Forgot Password", hello.forgot_password_path %></li>
        <% end %>
      </ul>




      <h3 class="text-muted"><a href="/">Project name</a></h3>
      <p class="lead">Hello, <%= current_user && current_user.name || "Guest" %>!</p>


      <%= render "/hello/shared/session_expiration" %>
    </div>

  <%= render "/hello/shared/flash" %>
  
<!-- hello end -->




<%= yield %>

</body>
</html>
