

<p>created_at: <%= @user.created_at %></p>
<p>updated_at: <%= @user.updated_at %></p>
<p>name: <%= @user.name %></p>
<p>role: <%= @user.role %></p>
<p>locale: <%= @user.locale %></p>
<p>time_zone: <%= @user.time_zone %></p>
<p>credentials_count: <%= @user.credentials_count %></p>
<p>sessions_count: <%= @user.sessions_count %></p>
<p>city: <%= @user.city %></p>
