<%= form_for(@password_forgot, url: password_forgot_path) do |f| %>
  <%= render '/hello/shared/errors', model: @password_forgot, found_when_msg: "locating your credentials" %>

  <div class="field">
    <%= f.label :login, "Email or Username" %><br>
    <%= f.text_field :login, name: 'login' %>
  </div>
  <div class="actions">
    <%= f.submit "Ask to reset my password" %>
  </div>
<% end %>
