<div class="row">

<%= render '/hello/shared/settings' %>

<div class="col-sm-3-offset col-md-2-offset col-sm-9 col-md-10">

<%= form_for @password_credential, url: password_path, html: {class: "form-horizontal", role: "form"} do |f| %>
  <%= render '/hello/shared/errors', active_model: @entity %>

  <div class="form-group">
    <%= f.label :password, class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <%= f.submit "Update Profile", class: "btn btn-default" %>
    </div>
  </div>
<% end %>

</div>
</div>