<div class="row">

<div class="col-sm-offset-3 col-sm-6">
<div class="panel panel-danger">
  <div class="panel-heading">Confirm Password to Continue</div>
  <div class="panel-body">

<%= form_for current_user, url: hello.sudo_mode_path, html: {class: "form-horizontal", role: "form"} do |f| %>

  <div class="form-group">
    <%= f.label :username, class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <span class="form-control" style="border: 0px; box-shadow: none">
        <%= current_user.username %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <%= f.submit "Confirm Password", class: "btn btn-danger" %>
    </div>
  </div>
<% end %>
  </div>

</div>
</div>

</div>
