<%= link_to 'Users', users_path %>

<hr>

<h2>
  <%= @user.username %>
</h2>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @user.locale %>
</p>

<p>
  <strong>Time zone:</strong>
  <%= @user.time_zone %>
</p>
