<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- hello begin -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">

        <li><%= link_to human_current_locale, hello.locale_path %></li>
        <% if current_user %>
          <li><%= link_to "Settings", hello.user_path %></li>
          <li><%= link_to "Sign Out", hello.sign_out_path %></li>
          <% if impersonated? %>
            <li><%= link_to "Back to Myself", hello.admin_impersonate_path %></li>
          <% end %>
        <% else %>
          <li><%= link_to "Sign Up", hello.classic_sign_up_path %></li>
          <li><%= link_to "Sign In", hello.classic_sign_in_path %></li>
          <li><%= link_to "Forgot Password", hello.classic_forgot_path %></li>
        <% end %>

      </ul>
      <h3 class="text-muted"><a href="/">Project name</a></h3>
    
      <% if current_user %>
        <p class="lead">Hello, <%= current_user.name %>!</p>
        <p>
          <small>
            Your session expires in <%= time_ago_in_words hello_session.expires_at %>
          </small>

          <% if sudo_mode? %>
            <small>
              |
              Sudo Mode expires in <%= time_ago_in_words hello_session.sudo_expires_at %>
              (<%= link_to "expire", hello.sudo_mode_expire_path %>)
            </small>
          <% end %>
        </p>
      <% else %>
        <p class="lead">Hello, Guest!</p>
      <% end %>
      <% if current_user && current_user.admin? %>
      <p>
        Admin Features:
        <% if @user && @user != current_user %>
          <%= button_to "Impersonate #{@user.name}", hello.admin_impersonate_path(credential_id: @user.credentials.first.id) %>
        <% end %>
      </p>
      <% end %>
    </div>


  <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>

  <% if alert %>
    <div class="alert alert-warning"><%= alert %></div>
  <% end %>

  <%= render "/hello/shared/email_confirmation_alert" %>

<!-- hello end -->


<%= yield %>

<%= debug session.to_hash %>

</body>
</html>
