<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- hello begin -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li><%= link_to human_current_locale, hello.locale_path %></li>
        <% if current_user %>
          <li><%= link_to "My Profile", profile_path(current_user.username) %></li>
          <li><%= link_to "Settings", hello.user_path %></li>
          <li><%= link_to "Sign Out", hello.sign_out_path %></li>
          <% if impersonated? %>
            <li><%= link_to "Back to Myself", hello.admin_impersonate_path %></li>
          <% end %>
        <% else %>
          <li><%= link_to "Sign Up", hello.sign_up_path %></li>
          <li><%= link_to "Sign In", hello.sign_in_path %></li>
          <li><%= link_to "Forgot Password", hello.password_forgot_path %></li>
        <% end %>
      </ul>


      <h3 class="text-muted"><a href="/">Project name</a></h3>
      <p class="lead">Hello, <%= current_user && current_user.name || "Guest" %>!</p>
      

      <%= render "/hello/shared/session_expiration" %>
    </div>

  <%= render "/hello/shared/flash" %>


<!-- hello end -->


<%= yield %>


  <footer>
    <%= debug session.to_hash %>
    <p>dummy-path: <%= request.fullpath %></p>
    <% if hello_access_token %>
      <p>dummy-logged-in-User#<%= current_user.id %></p>
      <p>dummy-logged-in-AccessToken#<%= hello_access_token.id %></p>
    <% else %>
      <p>dummy-logged-out</p>
    <% end %>
  </footer>

</body>
</html>
