<%= form_for(@password_reset, url: classic_reset_path) do |f| %>
  <%= render '/hello/shared/errors', model: @password_reset, found_when_msg: "resetting your password" %>

  <div class="field">
    <%= f.label :email %><br>
    <strong><%= @password_reset.credential.email %></strong>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <strong><%= @password_reset.credential.username %></strong>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, name: 'password' %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
