<div class="row">

<%= render '/hello/shared/settings' %>

<div class="col-sm-3-offset col-md-2-offset col-sm-9 col-md-10">

<%= form_for @user, url: current_user_path, html: {class: "form-horizontal", role: "form"} do |f| %>
  <%= render '/hello/shared/errors', active_model: @user_entity %>

  <% current_user.email_credentials.each do |credential| %>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <span class="form-control" style="border: 0px; box-shadow: none">
        <%= credential.email %>
        <%= link_to "edit", hello.emails_path %>
      </span>
    </div>
  </div>

  <% end %>




  <div class="form-group">
    <%= f.label :name, class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :language, class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <%= f.select :locale, hello_locale_select_options, {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :time_zone, class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <%= f.time_zone_select :time_zone, nil, {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :current_time, class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <span class="form-control current_time" style="border: 0px; box-shadow: none">
        <%= Time.now.in_time_zone %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :username, class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
    </div>
  </div>


  <!-- city is a custom field -->
  <div class="form-group">
    <%= f.label :city, class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :city, class: "form-control", placeholder: "City" %>
    </div>
  </div>




  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <%= f.submit "Update Profile", class: "btn btn-default" %>
    </div>
  </div>
<% end %>

</div>

</div>
