<%= render '/hello/shared/settings' %>

<div class="col-sm-3-offset col-md-2-offset col-sm-9 col-md-10">

<%= form_for [:classic, @credential], html: {class: "form-horizontal", role: "form"} do |f| %>
  <%= render '/hello/shared/errors', model: @credential, found_when_msg: "updating your email" %>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <%= f.submit "Update Email", class: "btn btn-default" %>
    </div>
  </div>
<% end %>

</div>
