<h1>Listing credentials</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credentials.each do |credential| %>
      <tr>
        <td><%= credential.email %></td>
        <td><%= link_to 'Show', credential %></td>
        <td><%= link_to 'Edit', edit_credential_path(credential) %></td>
        <td><%= link_to 'Destroy', credential, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credential', new_credential_path %>
