<div class="row">

<%= render '/hello/shared/settings' %>

<div class="col-sm-3-offset col-md-2-offset col-sm-9 col-md-10">

<%= form_for [:classic, @credential], html: {class: "form-horizontal", role: "form"} do |f| %>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <span class="form-control" style="border: 0px; box-shadow: none">
        <%= hello_credential.email %>
      </span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :username, class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <span class="form-control" style="border: 0px; box-shadow: none">
        ********
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <%= f.submit "Update Username", class: "btn btn-default" %>
    </div>
  </div>
<% end %>

</div>

</div>
