<h2>Complete Registration</h2>

<% if @show_agree_error %>
  <div class="alert alert-danger">
    You cannot join the website unless you agree with our terms and policies
  </div>
<% end %>

<%= form_tag novice_path do %>
  <label>
    <%= check_box_tag :agree, 1, true %>
    I agree to the
    <%= link_to "Terms of Service", "/terms" %>
    and
    <%= link_to "Policy of Privacy", "/privacy" %>
  </label>

  <div>
    <%= submit_tag "Continue to website" %>
  </div>
<% end %>
