<%= render "hello/webmaster/dashboard" %>

<h1>Listing Users</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Role</th>
      <th>Locale</th>
      <th>Time zone</th>
      <th>Credentials</th>
      <th>Accesses</th>
        <!-- actions -->
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.name %></td>
        <td><%= user.role %></td>
        <td><%= user.locale %></td>
        <td><%= user.time_zone %></td>
        <td><%= user.credentials_count %></td>
        <td><%= user.accesses_count %></td>
        <!-- actions -->
        <td><%= button_to "Impersonate!", hello.impersonate_webmaster_user_path(user.id) unless current_user == user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
