<h1>Listing identities</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @identities.each do |identity| %>
      <tr>
        <td><%= identity.email %></td>
        <td><%= link_to 'Show', identity %></td>
        <td><%= link_to 'Edit', edit_identity_path(identity) %></td>
        <td><%= link_to 'Destroy', identity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Identity', new_identity_path %>
