<%= render '/hello/shared/profile' %>

<h1>Editing Password</h1>

<%= form_for([:classic, @identity]) do |f| %>
  <%= render '/hello/shared/errors', model: @identity, found_when_msg: "updating your password" %>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Update Password" %>
  </div>
<% end %>

