<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <div class="container">
    <div class="header">
      <%= render "/hello/shared/nav_pills" %>

      <h3 class="text-muted"><a href="/">Project name</a></h3>
      <p class="lead">Hello, <%= current_user && current_user.name || "Guest" %>!</p>

      <%= render "/hello/shared/session_expiration" %>
    </div>

    <%= render "/hello/shared/flash" %>



    <%= yield %>



    <footer>
      <%= debug session.to_hash %>
      <p>dummy-path: <%= request.fullpath %></p>
      <p>dummy-locale: <%= I18n.locale %></p>

      <p>dummy-accounts-<%= current_accesses.size %></p>
      <% current_accesses.each do |access_token| %>
        <p>dummy-account-<%= access_token.user.username %></p>
      <% end %>

      <% if signed_in? %>
        <p>dummy-logged-in-User#<%= current_user.id %></p>
        <p>dummy-logged-in-Access#<%= current_access.id %></p>
        <p>dummy-logged-in-role-<%= current_user.role %></p>
        <p>dummy-logged-in-<%= sudo_mode? ? 'with' : 'without' %>-sudo-mode</p>
      <% else %>
        <p>dummy-logged-out</p>
      <% end %>
    </footer>

  </div>

</body>
</html>
