<%= form_for @sign_in, as: :sign_in, url: sign_in_path, html: {class: "form-horizontal", role: "form"} do |f| %>

  <!-- Errors -->
  <% if @sign_in.errors.any? %>
    <%= render '/hello/shared/errors', active_model: @sign_in %>
  <% end %>

  <div class="form-group">
    <%= f.label :login, "Email or Username", class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :login, class: "form-control", placeholder: "Email or Username" %>

      <% if @sign_in.bad_login? %>
        <blockquote style="border-color: #a94442">
          <p class="text-danger">This login was not found in our database.</p>
          <p>Do you want to <%= link_to "Sign Up", hello.sign_up_path %> instead?</p>
        </blockquote>
      <% end %>

    </div>

  </div>


  <div class="form-group">
    <%= f.label :password, class: "col-sm-4 control-label" %>
    <div class="col-sm-4">
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>

      <% if @sign_in.bad_password? %>
        <blockquote style="border-color: #a94442">
          <p class="text-danger">Your password does not match that in our database.</p>
          <footer>
            Did you <%= link_to "forget your password", hello.forgot_passwords_path %>?
          </footer>
        </blockquote>
      <% end %>

    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <div class="checkbox">
        <label>
          <%= check_box_tag :keep_me, '1', false %>
          Keep me signed in for <strong>30</strong> days
        </label>
      </div>
    </div>
  </div>
  <!--
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <%= link_to "I forgot my password", hello.forgot_passwords_path %>
    </div>
  </div>
 -->
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <%= f.submit "Sign In", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
