<h1>Listing Accounts</h1>

<p>
  <%= link_to "Sign Up", hello.sign_up_path %> |
  <%= link_to "Sign In", hello.sign_in_path %>
</p>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Role</th>
      <th>Expiry</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @accesses.each do |a| %>
      <tr>
        <td><%= link_to a.user.username, a.user %></td>
        <td><%= a.user.name %></td>
        <td><%= a.user.role %></td>
        <td><%= distance_of_time_in_words_to_now(a.expires_at) %></td>
        <td><%= link_to "Switch!",
                        hello.switch_user_path(a.id),
                        class: 'btn btn-xs btn-success' unless is_current_access?(a) %></td>
        <td><%= button_to "Forget",
                          hello.switch_user_path(a.id),
                          method: :delete,
                          class: 'btn btn-xs btn-danger',
                          data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
