

<!-- hello begin -->


  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">

        <li><%= link_to human_current_locale, hello.locale_path %></li>
        <% if current_user %>
          <li><%= link_to "Settings", hello.user_path %></li>
          <li><%= link_to "Sign Out", hello.sign_out_path %></li>
        <% else %>
          <li><%= link_to "Sign Up", hello.classic_sign_up_path %></li>
          <li><%= link_to "Sign In", hello.classic_sign_in_path %></li>
          <li><%= link_to "Forgot Password", hello.classic_forgot_path %></li>
        <% end %>

      </ul>
      <h3 class="text-muted"><a href="/">Project name</a></h3>
    
      <% if current_user %>
        <p class="lead">Hello, <%= current_user.name %>!</p>
        <p>
          <small>
            Your session expires in <%= time_ago_in_words hello_active_session.expires_at %>
          </small>

          <% if sudo_mode? %>
            <small>
              |
              Sudo Mode expires in <%= time_ago_in_words hello_active_session.sudo_expires_at %>
              (<%= link_to "expire", hello.sudo_mode_expire_path %>)
            </small>
          <% end %>
        </p>
      <% else %>
        <p class="lead">Hello, Guest!</p>
      <% end %>
    </div>

  <%= render "/hello/shared/email_confirmation_alert" %>

  <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>

  <% if alert %>
    <div class="alert alert-warning"><%= alert %></div>
  <% end %>

<!-- hello end -->
