

<!-- hello begin -->


<header>
  <% if current_user %>
    <span>Hello, <%= current_user.name %>!</span>
    <span><%= link_to "Edit Me", hello.user_path %></span>
    <span><%= link_to "Sign Out", hello.sign_out_path %></span>
  <% else %>
    <span>Hello, Guest!</span>
    <span><%= link_to "Sign Up", hello.classic_sign_up_path %></span>
    <span><%= link_to "Sign In", hello.classic_sign_in_path %></span>
    <span><%= link_to "Forgot Password", hello.classic_forgot_path %></span>
  <% end %>
</header>

<strong style="color: green"><%= notice %></strong>
<strong style="color: red"><%= alert %></strong>


<!-- hello end -->
