<div class="row">

<%= render '/hello/shared/settings' %>

<div class="col-sm-3-offset col-md-2-offset col-sm-9 col-md-10">

<table class="table table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th>Device</th>
      <th>IP Address</th>
      <th></th>
    </tr>
  </thead>
  <tbody>


    <% @access_tokens.each_with_index do |a_session, i| %>
      <% is_this_session = a_session == hello_access_token  %>

      <tr class="<%= 'success' if is_this_session %>">
        <td>Device #<%= i+1 %></td>
        <td><%= a_session.credential.email %></td>
        <td><%= a_session.full_device_name %></td>
        <td><%= a_session.ip %></td>
        <td>
          <% if is_this_session %>
            [this device]
          <% else %>
            <%= button_to 'Unlink', a_session, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>


    <% end %>


  </tbody>
</table>

</div>
</div>